{% extends "appLayout.html" %}
{% block title %}Home{% endblock %}

{{ super() }}

{% block content %}

<h4 class="left-align hide-on-med-and-down">Hot 100</h4>
<div class="slider sliderone hide-on-med-and-down">
    <ul class="slides grey lighten-3 center-align">
        {% for row in videos|slice(17) %}  <!-- right now the last 2 slides only have 5 songs: maybe use a container of 90% with then slice by 20 so you can get 5 images per slide, i had issues with the container -->
        <li>
            <div class="row">
                {% for video in row %}
                <div class="col m2 s5">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ video.url }}" target="_blank"><img src="{{ video.thumbnail }}" class="responsive-img"></a>
                        </div>
                        <div class="card-content tooltipped" data-position="top" data-tooltip="{{ video.title }}">
                            <a href="{{ video.url }}" target="_blank"><p class="p-title">{{ video.title}}</p></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="right hide-on-med-and-down">
    <button class="prev z-depth-0 btn grey btn-flat center"><i class="large material-icons">chevron_left</i></button>
    <button class="next z-depth-0 btn grey btn-flat center"><i class="large material-icons">chevron_right</i></button>
</div>

<div class="carousel home-carousel hide-on-med-and-up">
    <h4 class="left-align">Hot 100</h4>
    {% for video in videos %}
    <div class="carousel-item">
        <a href="{{ video.url }}" target="_blank"><p class="indigo-text">#{{ video.position+1 }}</p></a>
        <img src="{{ video.thumbnail }}">
        <a href="{{ video.url }}" target="_blank"><p class="p-title-mobile">{{ video.title}}</p></a>
    </div>
    {% endfor %}
</div>

<!-- implement Jevon's carousels for mobile hot 100 -->

<script>
    $(document).ready(function () {
        $('.sliderone').slider({
            height: 400,
            indicators: false    
        });
        $('.sliderone').slider('pause');
        $('.tooltipped').tooltip();
        $('.home-carousel').carousel({
        });
    });

    $('.next').click(function () {
        $('.sliderone').slider('next');
        $('.sliderone').slider('pause');
    });

    $('.prev').click(function () {
        $('.sliderone').slider('prev');
        $('.sliderone').slider('pause');
    });

    
</script>
{% endblock %}