{% extends "appLayout.html" %}
{% block title %}Home{% endblock %}

{{ super() }}

{% block content %}

<h4 class="center-align hide-on-med-and-down">Hot 100 Music Videos</h4>

<div class="slider sliderone hide-on-med-and-down">
    <!-- <div class="left"> -->
    <a href="#" class="prev left left-middle-indicator waves-effect waves-dark"><i
            class="large material-icons">chevron_left</i></a>
    <!-- </div> -->

    <!-- <div class="right"> -->
    <a href="#" class="next right right-middle-indicator waves-effect waves-dark"><i
            class="large material-icons">chevron_right</i></a>
    <!-- </div> -->

    <ul class="slides grey lighten-3">
        {% for row in videos|slice(20) %}
        <li class="valign-wrapper">
            <div class="row">
                {% for video in row %}
                <div class="col l2">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ video.url }}" target="_blank"><img src="{{ video.thumbnail }}"
                                    class="responsive-img"></a>
                            <span class="card-title">
                                <p class="orange-text">#{{ video.position+1 }}</p>
                            </span>
                        </div>
                        <div class="card-content tooltipped" data-position="top" data-tooltip="{{ video.title }}">
                            <a href="{{ video.url }}" target="_blank">
                                <p class="truncate black-text">{{ video.title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="carousel home-carousel hide-on-large-only">
    <h4 class="left-align">Hot 100 Music Videos</h4>
    {% for video in videos %}
    <div class="carousel-item">
        <a href="{{ video.url }}" target="_blank">
            <p class="indigo-text">#{{ video.position+1 }}</p>
        </a>
        <img src="{{ video.thumbnail }}">
        <a href="{{ video.url }}" target="_blank">
            <p class="truncate black-text">{{ video.title}}</p>
        </a>
    </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function () {
        $('.sliderone').slider({
            height: 400,
            indicators: false
        });
        $('.sliderone').slider('pause');
        $('.tooltipped').tooltip();
        $('.home-carousel').carousel(
            {
                onCycleTo: function (ele) {
                    console.log(ele);
                    console.log($(ele).index()); // the slide's index
                }
            }

        );
    });

    $('.next').click(function () {
        $('.sliderone').slider('next');
        $('.sliderone').slider('pause');
    });

    $('.prev').click(function () {
        $('.sliderone').slider('prev');
        $('.sliderone').slider('pause');
    });


</script>
{% endblock %}