<!doctype html>
<html>

<head>


  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>

  <style>
    body,
    html {
      height: 100%;
      text-align: center;
      margin: 0;
      background-color: rgb(255, 255, 255);
      /*background-color: rgb(14, 17, 31);*/

    }

    .input-field input {
      color: white;
    }

    [type="checkbox"].filled-in:checked+span:not(.lever):after {
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #ff6f00;
      background-color: #ff6f00;
      z-index: 0;
    }
  </style>
</head>

<body class="valign-wrapper ">
  <div class="container">
    <div class="row">
      <!-- <div class="col s4 offset-s4"> -->
      <div class="col s6 offset-s3">

        <div class="card hoverable ">

          <div>
            <nav class="amber darken-3">
              <div class="nav-wrapper">
                <a href="" class="brand-logo center ">{% block page %}{% endblock %}</a>
              </div>
            </nav>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <nav class="white" style="padding: 10px">
              <div class="nav-wrapper ">
                <ul>
                  {% for message in messages %}
                  <li class="black-text">{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
            </nav>
            {% endif %}
            {% endwith %}

            <div id="content black">{% block content %}{% endblock %}</div>

            <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>