{% extends "logAndRegLayout.html" %}
{% block title %}Sign in{% endblock %}
{% block page %}Sign in{% endblock %}

{{ super() }}

{% block content %}
<div class="row">

    <form class="col s12 m8 offset-m2" method="POST" action="/login">
        {{ form.csrf_token }}

        <div class="input-field col s12  ">
            {{ form.username(size=20, class="validate black-text") }}
            {{ form.username.label }}
        </div>

        <div class="input-field col s12 ">
            {{ form.password(size=20, class="validate black-text") }}
            {{ form.password.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
            {{form.submit}}
            <div>
                <p style="color: #9E9e9e;">or</p>
                <a href="/register" style="color: #ffa040">Register</a>
            </div>
        </div>
    </form>

</div>
{% endblock %}