{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        
        <form class="col s12 m8 offset-m2" method="POST" action="/login">
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
            {{ form.username(size=20, class="validate") }}
            {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
            {{ form.password(size=20, class="validate") }}
            {{ form.password.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
            {{form.submit}}
            </div> 
        </form>
    
    </div>
{% endblock %}