{% extends "appLayout.html" %}
{% block title %}Playlists{% endblock %}
{% block page %}Playlists{% endblock %}

{{ super() }}

{% block content %}

<!-- {% if current_user.is_authenticated %} -->
<!-- <h3 style="color:black"> Hi {{ current_user.username }}! </h3> -->
<!-- <a href="/logout" class="btn waves-effect waves-light white-text amber darken-3">Logout</a> -->
<div class="carousel">
    {% for playlist in playlists %}
    <a id="{{playlist.id}}" class="carousel-item valign-wrapper"
        style="background: linear-gradient(184deg, rgba(35, 29, 138,1) 0%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);"
        href="#">
        <h3 class="truncate " style="color: #ffffff; white-space: pre-line;margin: 1.9466666667rem 0 4.168rem 0;">
            {{playlist.name}}</h3>
    </a>

    {% else %}
    <h4>Create some playlists</h4>
    {%endfor%}
</div>




<div>


    <ul class="mdc-list mdc-list--dense mdc-list--two-line" id="list">



    </ul>


</div>

<!-- {% endif %} -->

<!-- onclick="testFunction('')" -->
<script>
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";


    /*    document.addEventListener('DOMContentLoaded', function () {
            var elem = document.querySelector('.carousel');
            var instances = M.Carousel.init(elem, {
    
                OnCycleTo: function (name) {
                    console.log(name.el);
                }
            });
        });*/

    $('.carousel').carousel({
        duration: 1000,
        indicators: true,
        onCycleTo: function (data) {

            getSongs(data.id)
        }
    });

    async function getSongs(pid) {
        url = baseUrl + `getSongs/${pid}`

        try {
            let response = await fetch(url);//1. Send http request and get response
            let result = await response.json();//2. Get data from response

            populateSongs(result);// 3. Do something with the data
        } catch (e) {
            console.log(e);//catch and log any errors
        }
    }


    function populateSongs(songs) {
        let html = "";
        let ele = document.getElementById("list");
        ele.innerHTML = html;
        for (song of songs) {
            html += `
            <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
                <img class="mdc-list-item__graphic" aria-hidden="true" src="${song.albumImgUrl}" />
                <span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">${song.title}</span>
                    <span class="mdc-list-item__secondary-text">${song.artist} - ${song.album}</span>
                </span>
    
                <div class="mdc-list-item__meta mdc-chip-set">
                    <a href="${song.url}" target="_blank" class="mdc-chip mdc-ripple-upgraded sideButtons" role="row"
                        id="mdc-chip-17">
                        <img class="mdc-chip__icon mdc-chip__icon--leading"
                            src="https://img.icons8.com/windows/32/000000/deezer.png">
                        <div class="mdc-chip__checkmark">
                            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                                <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59">
                                </path>
                            </svg>
                        </div>
                        <span role="button" tabindex="0" class="mdc-chip__text"></span>
                    </a>
    
                    <a href="${song.youtubeUrl}" target="_blank" class=" mdc-chip mdc-ripple-upgraded sideButtons"
                        role="row" id="mdc-chip-17">
                        <img class="mdc-chip__icon mdc-chip__icon--leading"
                            src="https://img.icons8.com/material-sharp/24/000000/youtube-play.png">
                        <div class="mdc-chip__checkmark">
                            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                                <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59">
                                </path>
                            </svg>
                        </div>
                        <span role="button" tabindex="0" class="mdc-chip__text"></span>
                    </a>
    
                    <a id="dropdowner" data-target='${song.id}' data-mdc-ripple-is-unbounded=""
                        class="dropdown-trigger mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded sideButtons"
                        title="" tabindex="-1"
                        style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        more_vert
                    </a>
                </div>
    
    
    
            </li>
            `
        }
        ele.innerHTML = html;
    }



</script>

{% endblock %}