{% extends "appLayout.html" %}
{% block title %}Playlists{% endblock %}
{% block page %}{% endblock %}

{{ super() }}

{% block content %}

<!-- {% if current_user.is_authenticated %} -->
<!-- <h3 style="color:black"> Hi {{ current_user.username }}! </h3> -->
<!-- <a href="/logout" class="btn waves-effect waves-light white-text amber darken-3">Logout</a> -->
<div class="carousel">
    {% for playlist in playlists %}
    <a id="{{playlist.id}}" class="carousel-item valign-wrapper"
        style="background: linear-gradient(rgb(60, 89, 187) 20%, rgba(30, 33, 36, 0) 95%);" href="#">
        <h3 class="truncate "
            style="width:100%; color: #ffffff; white-space: pre-line;margin: 1.9466666667rem 0 4.168rem 0;">
            {{playlist.name}}</h3>
    </a>
    {% else %}
    <h4>Create some playlists</h4>
    {%endfor%}
</div>




<div>


    <ul class="mdc-list mdc-list--dense mdc-list--two-line" id="list">


    </ul>


</div>

<!-- {% endif %} -->

<!-- onclick="testFunction('')" -->
<script>
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";


    /*    document.addEventListener('DOMContentLoaded', function () {
            var elem = document.querySelector('.carousel');
            var instances = M.Carousel.init(elem, {
    
                OnCycleTo: function (name) {
                    console.log(name.el);
                }
            });
        });*/

    $('.carousel').carousel({
        duration: 500,
        indicators: true,
        onCycleTo: function (data) {

            getSongs(data.id)
        }
    });

    async function getSongs(pid) {
        url = baseUrl + `getSongs/${pid}`

        try {
            let response = await fetch(url);//1. Send http request and get response
            let result = await response.json();//2. Get data from response

            populateSongs(result, pid);
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                inDuration: 300,
                outDuration: 225,
                container: document.getElementById('Menu'),
                hover: false, // Activate on hover
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'right', // Displays dropdown with edge aligned to the left of button
                //onOpenStart: getPlaylistData
            }
            );

            // 3. Do something with the data
        } catch (e) {
            console.log(e);//catch and log any errors
        }
    }


    function populateSongs(songs, pid) {
        let html = "<h4>Loading Songs...</h4>";
        let ele = document.getElementById("list");

        {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                inDuration: 300,
                outDuration: 225,
                container: document.getElementById('Menu'),
                hover: false, // Activate on hover
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'right', // Displays dropdown with edge aligned to the left of button
                //onOpenStart: getPlaylistData
            }
            );
        }


        ele.innerHTML = html;
        html = "";
        for (song of songs) {
            html += `
            <div id="Menu">
                <ul id="${song.id}" class="dropdown-content" style="">
                  <li><a href="#" tabindex="-1" onclick="testFunc(${song.id},${pid})">delete</a></li>
                </ul>
              </div>
            
            <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
                <img class="mdc-list-item__graphic" aria-hidden="true" src="${song.albumImgUrl}" />
                <span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">${song.title}</span>
                    <span class="mdc-list-item__secondary-text">${song.artist} - ${song.album}</span>
                </span>
    
                <div class="mdc-list-item__meta mdc-chip-set">
                    <a href="${song.url}" target="_blank" class="mdc-chip mdc-ripple-upgraded sideButtons" role="row"
                        id="mdc-chip-17">
                        <img class="mdc-chip__icon mdc-chip__icon--leading"
                            src="https://img.icons8.com/windows/32/000000/deezer.png">
                        <div class="mdc-chip__checkmark">
                            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                                <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59">
                                </path>
                            </svg>
                        </div>
                        <span role="button" tabindex="0" class="mdc-chip__text"></span>
                    </a>
    
                    <a href="${song.youtubeUrl}" target="_blank" class=" mdc-chip mdc-ripple-upgraded sideButtons"
                        role="row" id="mdc-chip-17">
                        <img class="mdc-chip__icon mdc-chip__icon--leading"
                            src="https://img.icons8.com/material-sharp/24/000000/youtube-play.png">
                        <div class="mdc-chip__checkmark">
                            <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                                <path class="mdc-chip__checkmark-path" fill="none" stroke="black"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59">
                                </path>
                            </svg>
                        </div>
                        <span role="button" tabindex="0" class="mdc-chip__text"></span>
                    </a>
    
                    <a id="dropdowner" data-target='${song.id}' data-mdc-ripple-is-unbounded=""
                        class="dropdown-trigger mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded sideButtons"
                        title="" tabindex="-1"
                        style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        more_vert
                    </a>
                </div>
    
    
    
            </li>
            <li class="mdc-list-divider" role="separator"></li>
            `
        }
        console.log(songs)
        if (songs.length == 0) html = `<h5>Playlist is empty.</h5>`;
        ele.innerHTML = html;
    }

    async function testFunc(sid, pid) {
        await deleteSong([sid, pid]);
        await getSongs(pid);
    }

    async function deleteSong(data) {
        let url = baseUrl + "playlist"
        try {

            let response = await fetch(
                url,
                {
                    method: 'DELETE',
                    body: JSON.stringify(data),//convert data to JSON string
                    headers: { 'Content-Type': 'application/json' }// JSON data
                },
            );//1. Send http request and get response

            let result = await response.text();//2. Get message from response
            console.log(result);//3. Do something with the message

        } catch (error) {
            console.log(error);//catch and log any errors
        }
    }
</script>

{% endblock %}