{% extends "appLayout.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block page %}{% endblock %}

{{ super() }}

{% block content %}


<div>
    We use your personal information such as your username and password only for providing and improving the site.
     By using the site you must read and agree the terms of services. While using our site you may be asked to create an account to make
      your experience more enjoyable. We only collect the information you choose to give us and we process it with your consent.





</div>
{% endblock %}