{% extends "logAndRegLayout.html" %}
{% block title %}Register{% endblock %}
{% block page %}Register{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
    <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="">
      {{ form.csrf_token }}

      <div class="input-field col s12">
        {{ form.username(size=20, class="validate black-text") }}
        {{ form.username.label }}
      </div>



      <div class="input-field col s12">
        {{ form.password(size=20, class="validate black-text") }}
        {{ form.password.label }}
      </div>

      <div class="input-field col s12">
        {{ form.confirm(size=20, class="validate black-text") }}
        {{ form.confirm.label }}
      </div>

      <div>
        <label>
          {{ form.accept_tos }}
          <span>{{ form.accept_tos.label.text|safe }}</span>
        </label>
      </div>

      <div class="input-field col s12 m8 offset-m2">
        {{form.submit}}
        {% for error in form.password.errors %}
        <div style="color:orangered">
          {{error}}
        </div>
        {% endfor %}
      </div>

      <div>
        <a href="/login" class="left-align" style="color: pink">Login</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}