{% extends "logAndRegLayout.html" %}
{% block title %}Register{% endblock %}
{% block page %}Register{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
    <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="">
      {{ form.csrf_token }}

      <div class="input-field col s12">
        {{ form.username(size=20, class="validate black-text") }}
        {{ form.username.label }}
      </div>

      <div class="input-field col s12">
        {{ form.password(size=20, class="validate black-text") }}
        {{ form.password.label }}
      </div>

      <div class="input-field col s12">
        {{ form.confirm(size=20, class="validate black-text") }}
        {{ form.confirm.label }}
      </div>

      <div class="col s12">
        <ul>
          {% for error in form.password.errors %}
          <div style="color:orangered">
            <li>{{error}}</li>
          </div>
          {% endfor %}
        </ul>
      </div>
      <div>
        <label>
          {{ form.accept_tos }}
          <span>{{ form.accept_tos.label.text|safe }}</span>
        </label>
      </div>
      <div class="input-field col s12">
        {{form.submit}}
        <div>
          <p style="color: #9E9e9e;">or</p>
          <a href="/login" style="color: #ffa040">Login</a>
        </div>
      </div>

    </form>
  </div>
</div>


{% endblock %}