{% extends "appLayout.html" %}
{% block title %}Terms of Service{% endblock %}
{% block page %}{% endblock %}

{{ super() }}

{% block content %}

<div>Terms of Service</div>
<div>
    BY VISITING RCDJ Music, YOU ARE CONSENTING TO OUR TERMS AND CONDITIONS.
    By using the Site or Service, you agree to these Terms and Conditions, without modification, and acknowledge reading them and they are listed below
    Use of this site or, you must be 18 years of age or older and have the requisite power and authority to enter into these Terms and Conditions. Children under the age of 18 are prohibited from using the Site as explicit content may be portrayed very heavily on the site .A user login must be created and you may be required to provide information about yourself including your name, email address, username and password, and other personal information. You agree that any registration information you give to RCDJ Music will always be accurate, correct, and up to date and that you agree with our privacy policy. You must not impersonate someone else or provide account information or an email address other than your own. 
    
    
    

</div>
{% endblock %}